@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e2e8f0; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a0aec0; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; 
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 #e2e8f0; 
  }
}
